#########################
#	UE Generated	#
#########################

/Build
/Binaries
/DerivedDataCache
/Intermediate
/Saved

Content/StarterContent/

#########################
#	visual	#
#########################
.vs/
*VC.db
