#########################
#	UE Generated	#
#########################

/Build
/Binaries
/DerivedDataCache
/Intermediate
/Saved

Content/StarterContent/Textures
Content/StarterContent/HDRI
Content/StarterContent/Maps

#########################
#	visual	#
#########################
.vs/
*VC.db
